ai-meeting-notes-automation.json
{
  "name": "Meeting Notes Automation",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const raw = items[0].json.output || '';\n\ntry {\n\n  const parsed = JSON.parse(raw);\n\n  return [{\n    json: parsed\n  }];\n\n} catch (e) {\n\n  return [{\n    json: {\n      summary: \"AI parsing failed\",\n      tasks: []\n    }\n  }];\n\n}"
      },
      "id": "171df39a-3dda-4849-9585-78094f591761",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.function",
      "position": [
        1376,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "if (!items[0].json.tasks || items[0].json.tasks.length === 0) {\n  return [];\n}\n\nreturn items[0].json.tasks\n  .filter(task =>\n    task.task &&\n    task.task.trim() !== ''\n  )\n  .map(task => ({\n    json: {\n      task: task.task || '',\n      owner: task.owner || 'Unassigned',\n      deadline: task.deadline || 'TBD',\n      priority: task.priority || 'Medium'\n    }\n  }));"
      },
      "id": "61a71029-ebee-45b5-b0a3-15cc85d4fcd5",
      "name": "Convert Tasks to Items",
      "type": "n8n-nodes-base.function",
      "position": [
        1888,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vP3YvUiinUWmtvfNDYX3IrdyEbD94xzITW0etMS5Akk",
          "mode": "list",
          "cachedResultName": "Meeting Tasks Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vP3YvUiinUWmtvfNDYX3IrdyEbD94xzITW0etMS5Akk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vP3YvUiinUWmtvfNDYX3IrdyEbD94xzITW0etMS5Akk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task": "={{$json[\"task\"]}}",
            "Owner": "={{$json[\"owner\"]}}",
            "Deadline": "={{$json[\"deadline\"]}}",
            "Priority": "={{$json[\"priority\"]}}",
            "Status": "Pending",
            "Created At": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "561da70e-3e12-4982-889c-134062c61c7f",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2160,
        96
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5nJSDOlmxk0sA00",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        544,
        96
      ],
      "id": "9ac0449f-366b-4c75-808a-dd89d45b271f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Return ONLY valid JSON.\n\n{\n\"summary\": \"short meeting summary\",\n\"tasks\": [\n{\n\"task\": \"task name\",\n\"owner\": \"person responsible\",\n\"deadline\": \"YYYY-MM-DD\",\n\"priority\": \"High\"\n}\n]\n}\n\nRules:\n\n* No markdown\n* No explanation\n* No code block\n* No extra text\n* Priority must be High, Medium, or Low\n* If no deadline exists use \"TBD\"\n\nTranscript:\n{{ $json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        96
      ],
      "id": "8dad4fc3-60ee-45cf-b724-4e4de21ec2df",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45f8d401-412a-43bb-9c70-457310bc1ba1",
              "name": "text",
              "value": "Date: 2 May 2026   Participants:   - Jagadeesh (Consultant)   - Adi (Client – Millet Powder Brand Owner)  ---  Adi: Currently I am running my millet powder business mainly through Instagram. Most of my orders come from DMs and WhatsApp messages.  Jagadeesh: Okay, so you don’t have a proper website or ordering system yet?  Adi: No, I don’t have any website. Everything is manual right now. I track orders in WhatsApp chats and sometimes in a notebook. It’s getting difficult to manage as orders are increasing.  Jagadeesh: Got it. That means you also don’t have a clear system to track total sales or customer data?  Adi: Yes, exactly. I don’t have proper tracking of daily or monthly sales. I also don’t have a customer database.  Jagadeesh: How are you handling customer support currently?  Adi: I reply manually on Instagram and WhatsApp. Sometimes I miss messages, especially when there are many inquiries.  Jagadeesh: Understood. What about your product certifications and licenses?  Adi: I have basic certifications, but they are not properly displayed anywhere online. Customers sometimes ask about authenticity.  Jagadeesh: That’s an important point. Having those visible builds trust.  Adi: Yes, I agree. I want to look more professional and scale the business.  Jagadeesh: Here’s what I suggest: 1. We create a proper website for your brand 2. Add an online ordering system 3. Track all orders and sales automatically 4. Set up a basic CRM for customer data 5. Display certifications clearly on the website 6. Improve customer support with a structured system  Adi: That sounds good. I really need all of that.  Jagadeesh: We can also integrate Instagram with your website so traffic converts better.  Adi: That would be very helpful.  Jagadeesh: I’ll help you set up everything step by step—from website to tracking and automation.  Adi: Perfect. Let’s proceed with that.  ---  Meeting End",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        96
      ],
      "id": "fcd69f42-197c-41a3-9f69-ba968d0448d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        320
      ],
      "id": "d294c5cd-567a-43a1-88e8-a0cadd0ee5c2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "2tvWMKzbkfImX4Ri",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jagadeeshs4779@gmail.com",
        "subject": "Meeting Recap & Action Items",
        "message": "=<h2>Meeting Summary</h2>\n\n<p>{{$json[\"summary\"]}}</p>\n\n<hr>\n\n<h2>Action Items</h2>\n\n<ul>\n{{\n$json[\"tasks\"].map(t =>\n\"<li><b>\" + t.task + \"</b><br>\" +\n\"Owner: \" + t.owner + \"<br>\" +\n\"Deadline: \" + (t.deadline || \"TBD\") + \"<br>\" +\n\"Priority: \" + (t.priority || \"Medium\") +\n\"</li><br>\"\n).join(\"\")\n}}\n</ul>\n\n<hr>\n\n<p><i>Generated automatically using AI meeting automation.</i></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1904,
        320
      ],
      "id": "598e4ba6-4ffb-4711-be50-72f66aadd351",
      "name": "Send a message",
      "webhookId": "34b6b7c3-3c96-46f1-ab4f-2c95cfafaed4",
      "credentials": {
        "gmailOAuth2": {
          "id": "MzCK1wWoAgbK5skR",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Convert Tasks to Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Tasks to Items": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cfa84194-17c8-497e-9b18-5f6de3dbfb79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b54ab3f2387a08ad41459dc70b5fa6c6b62400d3cba35fe5bdc357ca66bc9f6b"
  },
  "id": "FhYsCjCuC81l4jzS",
  "tags": []
}